  <div class="page-header">
    <h1 class="page-title">Forum</h1>
    @if (currentUser){
      <a routerLink="/forum/add/thread" >+ Nouveau sujet</a>
    }
  </div>

  <div class="page-content">
    <div class="categories-container">
      <h2>CATEGORIES</h2>
      <div class="all-category" (click)="getAllThreads()"><div class="dot"></div>All</div>
      @for (category of categories$ | async ; track category.id){
      <forum-category [category]="category" (click)="getThreads(category.id)"></forum-category>
      }
    </div>
    <div class="threads-container">
      <div class="threads-header">
        <div class="title">Topic</div>
        <div class="replies-count">Replies</div>
        <div class="view-count">Views</div>
        <div class="activity">Activity</div>
      </div>
      @if ((allThreads$ | async)?.content) {
        @for (thread of (allThreads$ | async)?.content ; track thread.id){
          <forum-thread [thread]="thread"></forum-thread>
        }
      }
      @else if (threads$ | async) {
        @for (thread of threads$ | async ; track thread.id){
          <forum-thread [thread]="thread"></forum-thread>
        }  
      }
      @else {
        <app-loader> </app-loader>
      }
    </div>
  </div>

