@use 'src/assets/design-system.scss' as *;

  .page-header {
    padding: 2rem;
    background-color: $airsen-gray-50;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $airsen-gray-200;
    
    a{
      text-decoration: none;
      padding: 10px 20px;
      background-color: $airsen-primary;
      color: $airsen-white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }
    
    a:hover{
      background-color: $airsen-primary-light;
    }
    
    .page-title {
      color: $airsen-gray-900;
      font-size: 2rem;
      font-weight: 600;
      margin: 0;
    }
    
  }
  
  .page-content {
    margin: 0 auto;
    background-color: $airsen-gray-50;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 50px;
  
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: $airsen-gray-900;
      margin-bottom: 1rem;
    }
    .categories-container{
      padding: 2rem 5px 2rem 2rem;
      min-width: 200px;
      border-right: 1px solid $airsen-gray-200;

      h2{
        font-size: small;
        color: $airsen-gray-700;
      }

      .all-category{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: color 0.2s ease;
        color: $airsen-gray-800;

        .dot{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: $airsen-gray-900;
        }
      }

      .all-category:hover{
        color: $airsen-primary;
      }
    }
  
    .threads-container{
      width: 90%;
      padding: 2rem 0;

      .threads-header{
        display: flex;
        color: $airsen-gray-700;
        justify-content: space-between;
        width: 100%;

        div{
          padding: 10px 0;
        }

        .title{
          width: 50%;
          padding-left: 20px;        
        }

        .replies-count{
          width: 10%;
          text-align: center;
        }

        .view-count{
          width: 10%;
          text-align: center;
        }

        .activity{
          width: 10%;
          text-align: center;
        }
      }
    }
  }


