<div (click)="toggleLegend()" class="legend-container">
    <h3>Légende</h3>
    @if(displayLegend){
        <div class="legend"><img src="assets/images/marker-1.png" alt="Marqueur bon">  <p>: Bon</p></div>
        <div class="legend"><img src="assets/images/marker-2.png" alt="Marqueur moyen">  <p>: Moyen</p></div>
        <div class="legend"><img src="assets/images/marker-3.png" alt="Marqueur dégradé">  <p>: Dégradé</p></div>
        <div class="legend"><img src="assets/images/marker-4.png" alt="Marqueur mauvais">  <p>: Mauvais</p></div>
        <div class="legend"><img src="assets/images/marker-5.png" alt="Marqueur très mauvais">  <p>: Très mauvais</p></div>
        <div class="legend"><img src="assets/images/marker-6.png" alt="Marqueur extrêmement mauvais">  <p>: Extrêmement mauvais</p></div>
        <div class="legend"><img src="assets/images/marker-undefined.png" alt="Marqueur pas de données">  <p>: Pas de données</p></div>
    }
</div>