@use 'src/assets/design-system.scss' as *;

.popup-content{
    display: flex;
    flex-direction: column;
    width: 200px;

    .commune-name{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
    }

    button{
        background: linear-gradient(to right, $airsen-primary, $airsen-primary-light);
        border: none;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 5px;
        color: $airsen-gray-50;
        margin: 0 auto;
        cursor: pointer;
    }

    button:hover{
        font-size: 1.1em;
    }
}