<section class="stats-panel">
  <h2>Votre Activité</h2>

  <div class="stats-content">
    <!-- Chart Section -->
    <div class="chart-container">
      <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType" [options]="doughnutChartOptions">
      </canvas>
      <div class="chart-center-text">
        <span class="chart-value">{{ favorites.length }}</span>
        <span class="chart-label">Favoris</span>
      </div>
    </div>

    <div class="stats-grid" *ngIf="stats">
      <div class="stat-item" *ngFor="let key of statKeys" [class.clickable]="isStatClickable(key)"
        (click)="onStatClick(key)">

        <ng-container *ngIf="key !== 'profileCompletion' && key !== 'favoriteIndicators'">
          <span class="stat-label">{{ statLabels[key] }}</span>
          <span class="stat-value">{{ stats[key] }}</span>
        </ng-container>

        <!-- Circular Progress for Profile Completion -->
        <ng-container *ngIf="key === 'profileCompletion'">
          <div class="profile-completion">
            <div class="spinner-wrapper">
              <mat-progress-spinner mode="determinate" [value]="getProgressPercentage(stats[key])" diameter="60"
                strokeWidth="6">
              </mat-progress-spinner>
              <span class="spinner-text">{{ stats[key] }}%</span>
            </div>
            <span class="stat-label">Profil complété</span>
          </div>
        </ng-container>

      </div>
    </div>
  </div>
</section>