@use 'styles/design-system' as *;

.location-header {
  display: flex;
  align-items: center;
  gap: $space-3;

  .pin { color: $airsen-primary; }

  .name { font-weight: $font-weight-bold; }
  .meta { color: $airsen-gray-600; font-size: $font-size-sm; }
}
