@use '../../../../styles/design-system' as *;

.category-container{
display: flex;
align-items: center;
gap: 0.5rem;

.category-dot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: color 0.2s ease;
    padding: 0;
  }

  button:hover{
    color: $airsen-primary;
  }
}