<button
  class="favorite-button"
  [class.animate-success]="animateSuccess"
  [ngClass]="size"
  [disabled]="isLoading || (isMaxReached && !isFavorited)"
  [attr.aria-label]="isFavorited ? 'Remove from favorites' : 'Add to favorites'"
  (click)="toggleFavorite()">

  <mat-icon
    *ngIf="!isLoading"
    [class.favorited]="isFavorited">
    {{ isFavorited ? 'favorite' : 'favorite_border' }}
  </mat-icon>

  <mat-spinner
    *ngIf="isLoading"
    [diameter]="size === 'small' ? 16 : size === 'medium' ? 20 : 28">
  </mat-spinner>

  <span *ngIf="isMaxReached && !isFavorited" class="max-tooltip">
    Maximum 10 favorites reached
  </span>
</button>

