@use 'src/assets/design-system.scss' as *;

  // map Content
  .map-container {
    width: 100%;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    
    .map-frame {
      border: 2px solid $airsen-gray-300;
      border-radius: 10px;
      height: 100%;
      width: 100%;
      position: relative;

      #map {
          height: 100%;
          width: 100%;
        }

        app-map-legend{
          position: absolute;
          bottom: 10px;
          left: 10px;
          z-index: 9000;
        }
      }

    }
    