<div class="thread-container">
  <route-button route="/forum" textContent="Retour au forum"></route-button>
  <div class="thread-content">
    @if (thread$ | async) {
      <div class="thread-infos">
        <h1 class="title">{{ (thread$ | async)?.title }}</h1>
        <div class="thread-data">
          <div class="author">
            par
            {{
              (thread$ | async)?.author?.firstName +
              " " +
              (thread$ | async)?.author?.lastName
            }}
        </div>
        <div class="last-activity">
          {{ (thread$ | async)?.lastMessageDate | date : "short" }}
        </div>
        <div class="view-count">{{ (thread$ | async)?.viewCount }}</div>
      </div>
    </div>
    <p class="content">{{ (thread$ | async)?.content }}</p>
    
    <div class="thread-data">
      <div class="vote-container">
        <div class="vote-count">{{ (thread$ | async)?.likeCount }} votes</div>
      </div>
    </div>
    <h3 class="message-count">
      Réponses ({{ (thread$ | async)?.messageCount }})
    </h3>
    <div class="messages-container">
      @for (message of (thread$ | async)?.messages; track $index) {
        <forum-message [message]="message"></forum-message>
      }
    </div>
  }
  @else {
    <app-loader></app-loader>
  }
  </div>
</div>
