@use 'src/assets/design-system.scss' as *;

.thread-container{
    display: flex;
    color: $airsen-gray-900;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid $airsen-gray-200;
    padding: 10px 20px;
    transition: all 0.2s ease;
    
    .thread-infos{
        width: 50%;
        display: flex;
        flex-direction: column;

        .title{
            color: $airsen-gray-900;
            text-decoration: none;
            cursor: pointer;
            margin-bottom: 5px;
            transition: all 0.2s ease;
        }

        .title:hover{
            color: $airsen-primary;
        }

        .thread-category{
            padding: 0 10px;
            border-radius: 10px;
            width: fit-content;
            font-size: 0.8rem;
            color: $airsen-white;
        }
    }

    .replies-count{
        width: 10%;
        text-align: center;
    }
    
    .view-count{
        width: 10%;
        text-align: center;
    }
    
    .activity{
        width: 10%;
        text-align: center;
    }
}

.thread-container:hover{
    background-color: $airsen-gray-100;
}