@import '/src/assets/design-system.scss';

.message-container{
    width: 100%;
    margin: 0 auto;
    background-color: $airsen-white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;

    .message-infos{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .message-data{
            display: flex;
            gap: 5px;;
            align-items: center;

            .date{
                font-size: 0.8rem;
                color: $airsen-gray-500;
            }
        }

        .edit-button{
            border: none;
            background-color: transparent;
            color: $airsen-gray-500;
            text-decoration: underline;
        }
    }

    textarea{
        height: 200px;
        padding: 10px;
        border: 1px solid $airsen-gray-400;
        border-radius: 5px;
        background-color: $airsen-white;
    }

    .buttons-container{
        display: flex;
        gap: 5px;

        .validate-button{
            border: none;
            background-color: $airsen-info;
            color: $airsen-white;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .cancel-button{
            border: none;
            background-color: $airsen-gray-500;
            color: $airsen-white;
            padding: 5px 10px;
            border-radius: 5px;
        }

        button:hover{
            font-size: 1em;
        }
    }


    button{
        width: fit-content;
        cursor: pointer;
    }
}