<div class="message-container">
    <div class="message-infos">
        <div class="thread-datas">
            <h2>{{ message()?.author?.firstName + ' ' + message()?.author?.lastName }}</h2>
            <p class="date">{{ message()?.createdDate | date: 'short' }}</p>
        </div>
        <button class="delete-button" (click)="displayModal()">Supprimer</button>
    </div>
    <p class="content">{{ message()?.content }}</p>
</div>

@if(showModal){
<div class="confirmation-modal">
  <div class="modal-container">
    <p>
      Êtes vous sûr de vouloir supprimer le message ? cette action est
      définitive
    </p>
    <div class="modal-buttons">
      <button class="danger" (click)="deleteMessage()">Valider</button>
      <button class="cancel" (click)="displayModal()">Annuler</button>
    </div>
  </div>
</div>
}