<div class="message-container">
    <div class="message-infos">
        <div class="message-data">
            <h2>{{ message()?.author?.firstName + ' ' + message()?.author?.lastName }}</h2>
            <p class="date">{{ message()?.createdDate | date: 'short' }}</p>
        </div>
        @if(!isEditing){
            <button class="edit-button" (click)="triggerEdit()">Modifier</button>
        }
    </div>
    @if (!isEditing){
        <p class="content">{{ message()?.content }}</p>
    }
    @else {
        <textarea class="edit-content" name="content" id="content" [(ngModel)]="content" value="{{message()?.content}}"></textarea>
        <div class="buttons-container">
            <button class="validate-button" (click)="editMessage()">Valider</button>
            <button class="cancel-button" (click)="triggerEdit()">Annuler</button>
        </div>
    }
</div>