<div class="page-container">
  <!-- Loading Spinner -->
  @if (isLoading){
  <div class="loading-container">
    <mat-spinner diameter="50"></mat-spinner>
    <p>Chargement de la carte...</p>
  </div>
  } @if (!isLoading && currentUser){
  <div class="page-content">
    <div class="favorites-container">
      <h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-heart w-5 h-5 text-primary"
          data-lov-id="src/pages/Favorites.tsx:211:18"
          data-lov-name="Heart"
          data-component-path="src/pages/Favorites.tsx"
          data-component-line="211"
          data-component-file="Favorites.tsx"
          data-component-name="Heart"
          data-component-content="%7B%22className%22%3A%22w-5%20h-5%20text-primary%22%7D"
        >
          <path
            d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
          ></path>
        </svg>
        Mes favoris
      </h2>
    </div>
    <!-- Map Content -->
    <app-map-view
      (onMarkerClick)="clickEvent($event)"
      [communes]="communes"
    ></app-map-view>
    <div class="map-datas">
      @if (communeClicked){
      <h2>Données environnementales de {{ communeClicked.name }}</h2>
      <p>
        Population :
        {{ communeClicked.population | number }}
        habitants
      </p>

      @if (dataErrors){
      <p class="error">
        Erreurs lors du chargement des données environnementales:
      </p>
      <ul>
        @for (error of dataErrors; track $index){
        <li class="error">{{ error }}</li>
        }
      </ul>
      } @if (!isLoadingDatas){
      <h3>Qualité de l'air</h3>
      <div class="commune-air-quality">
        @if (airQualityClicked){
        <p style="color: {{ airQualityClicked.airQuality.color }}">Niveau de qualité : {{ airQualityClicked.airQuality.qualifier }}</p>
        <br />
        <p>PM10 : {{ airQualityClicked.airQuality.pollutants.PM10 }} μg/m3</p>
        <br />
        <p>PM2.5 : {{ airQualityClicked.airQuality.pollutants.PM2_5 }} μg/m3</p>
        <br />
        <p>O3 : {{ airQualityClicked.airQuality.pollutants.O3 }} μg/m3</p>
        <br />
        <p>NO2 : {{ airQualityClicked.airQuality.pollutants.NO2 }} μg/m3</p>
        <br />
        <p>SO2 : {{ airQualityClicked.airQuality.pollutants.SO2 }} μg/m3</p>
        <br />
        @if (airQualityClicked.lastUpdated){ Date du dernier prélèvement :
        {{ airQualityClicked.lastUpdated | date }}
        } }
      </div>
      <h3>Météo</h3>
      <div class="commune-weather">
        @if (weatherClicked){ Température : {{ weatherClicked.temperature }} °
        <br />
        <p>Humidité : {{ weatherClicked.humidity }} %</p>
        <br />
        <p>Vitesse du vent : {{ weatherClicked.windSpeed }} m/s</p>
        <br />
        <p>Direction du vent : {{ weatherClicked.windDirection }}°</p>
        }
      </div>
      } @else {
      <p>Chargement des données environnementales...</p>
      } } @else {
      <h2>
        Cliquez sur une commune pour afficher ses données environnementales
      </h2>
      }
    </div>
  </div>
  }

  <!-- Error State -->
  @if (!isLoading && !currentUser){
  <div class="error-container">
    <mat-icon>error_outline</mat-icon>
    <h2>Impossible de charger la carte</h2>
    <p>
      Cela peut être dû à un dysfonctionnement interne ou une erreur de
      connexion
    </p>
    <button mat-raised-button color="primary" (click)="logout()">
      Retour au Login
    </button>
  </div>
  }
</div>
