.route-button{
        color: #2c3e50;
        text-decoration: none;
        cursor: pointer;
        box-shadow: inset 1px -1px 1px 1px #e5e5e5;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 200;
        transition: all 0.2s ease;
        display:flex;
        align-items: center;
        width: fit-content;
        margin-bottom: 10px;
    }

    .route-button:hover{
        background-color: #00bdd6;
        color:#ffffff;
        padding: 7px 12px;
    }