<a class="route-button" routerLink="{{ route() }}">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-arrow-left w-4 h-4 mr-2"
      data-lov-id="src/pages/DiscussionDetail.tsx:102:16"
      data-lov-name="ArrowLeft"
      data-component-path="src/pages/DiscussionDetail.tsx"
      data-component-line="102"
      data-component-file="DiscussionDetail.tsx"
      data-component-name="ArrowLeft"
      data-component-content="%7B%22className%22%3A%22w-4%20h-4%20mr-2%22%7D"
    >
      <path d="m12 19-7-7 7-7"></path>
      <path d="M19 12H5"></path>
    </svg>
    {{ textContent()}}
  </a>