@use 'src/assets/design-system.scss' as *;


.datas-container{
  width: 100%;

  h3{
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin: 0;
  }

  .air-quality-datas{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 2px 10px;
    gap: 3px;
    border-top: 1px solid $airsen-gray-300;
    border-bottom: 1px solid $airsen-gray-300;
    
    .air-quality{
      margin: 0 auto;
      width: 100%;
      border-radius: 20px;
      color: $airsen-white;
      padding: 10px;
      font-weight: bold;
      text-align: center;
      width: fit-content;
      height: fit-content;
    }

    .air-quality-chart{
      width: 100%;
      margin: 0;

      .indicators{
        width: 100%;
        display:flex;
        justify-content: space-around;
        gap: 10px;
        align-items: flex-end;
        margin: 0;
        
        .indicator{
          width: 30px;
          max-height: 200px;
          text-align: center;
          background-color: $airsen-primary-light;
        }
      }
    
      .legend{
        width: 100%;
        display:flex;
        justify-content: space-around;
        gap: 10px;

        .data-name{
          width: 45px;
          text-align: center;

          .small{
            font-size: 0.8em;
          }
        }
      }
    }

  }

  .weather-datas{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 2px 10px;

    p{
      margin: 5px;
    }
  }
}