<div class="datas-container">
  <div class="air-quality-datas">
    <h3>Qualité de l'air</h3>
    @if(airQualityClicked){
    <p class="air-quality" [style.backgroundColor]="airQualityClicked.airQuality.color">Niveau de qualité de l'air: {{ airQualityClicked.airQuality.qualifier }}</p>
    <div class="air-quality-chart">
      <div class="indicators">
        <div class="indicator" [style.height.px]="airQualityClicked.airQuality.pollutants.PM10 + 7">{{ airQualityClicked.airQuality.pollutants.PM10 }}</div>
        <div class="indicator" [style.height.px]="airQualityClicked.airQuality.pollutants.PM2_5 + 7">{{ airQualityClicked.airQuality.pollutants.PM2_5 }}</div>
        <div class="indicator" [style.height.px]="airQualityClicked.airQuality.pollutants.O3 + 7">{{ airQualityClicked.airQuality.pollutants.O3 }}</div>
        <div class="indicator" [style.height.px]="airQualityClicked.airQuality.pollutants.NO2 + 7">{{ airQualityClicked.airQuality.pollutants.NO2 }}</div>
        <div class="indicator" [style.height.px]="airQualityClicked.airQuality.pollutants.SO2 + 7">{{ airQualityClicked.airQuality.pollutants.SO2 }}</div>
      </div>
      <div class="legend">
        <div class="data-name">PM10 <div class="small">(μg/m3)</div></div>
        <div class="data-name">PM2.5 <div class="small">(μg/m3)</div></div>
        <div class="data-name">O3 <div class="small">(μg/m3)</div></div>
        <div class="data-name">NO2 <div class="small">(μg/m3)</div></div>
        <div class="data-name">SO2 <div class="small">(μg/m3)</div></div>
      </div>
    </div>
    @if(airQualityClicked.lastUpdated){
    <p>
      Date du dernier prélèvement : {{ airQualityClicked.lastUpdated | date }}
    </p>
    } } @else{
    <p>Pas de données de qualité de l'air pour la commune sélectionnée</p>
    }
  </div>
  <div class="weather-datas">
    <h3>Météo</h3>
    @if (weatherClicked){
      <p>Température : {{ weatherClicked.temperature }} °C</p>
      <p>Humidité : {{ weatherClicked.humidity }} %</p>
      <p>Direction du vent : {{ weatherClicked.windDirection }} °</p>
      <p>Vitesse du vent : {{ weatherClicked.windSpeed }} m/s</p>
      <p>Date du dernier prélèvement : {{ weatherClicked.measurementDate | date }}</p>
     } @else{
    <p>Pas de données metéorologiques pour la commune sélectionnée</p>
    }
  </div>
</div>
